.header-container {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo {
  color: MediumAquamarine;
  display: inline-block;
  text-align: center;
}
nav li {
  display: inline-block;
}
.main-container {
  display: flex;
  display: inline-flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-around;
}
h1 {
  color: white;
  text-align: left;
}
.main-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  background-size: cover;
  background-position: center;
  height: 300px;
}
h2 {
  color: white;
  text-align: center;
}
.cat-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  background-size: cover;
  background-position: center;
  height: 400px;
}
.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  border: 1px solid black;
}
.column.medium {
  diaplay: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
}
.column.small {
  display: flex;
  width: 240px;
  border: 1px solid black;
}
